<div>(fridge)</div>

<img [src]="imageUrl" (click)="open = !open" alt="fridge" />

<div *ngIf="!open">
  (fridge is closed)
</div>
<div *ngIf="open && !fridgeItems">
  (loading...)
</div>
<div *ngIf="open && fridgeItems">
  <div *ngIf="fridgeItems.length === 0">
    (fridge is empty)
  </div>
  <mat-nav-list *ngIf="fridgeItems.length !== 0">
    <mat-list-item *ngFor="let item of fridgeItems">
      {{ item.name }}
      <span *ngIf="true || user">
        <span *ngIf="item.ownerId === user?.id">(mine)</span>
        <span *ngIf="item.ownerId && item.ownerId !== user?.id">
          (not mine)
        </span>
        <button
          mat-icon-button
          *ngIf="true || user?.admin || item.ownerId === user?.id"
          (click)="remove(item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-list-item>
  </mat-nav-list>
  <div *ngIf="true || user?.admin">
    <button mat-button (click)="cleanFridge()">Clean Fridge</button>
  </div>
  <form
    *ngIf="open && (true || user)"
    [formGroup]="addItem"
    (ngSubmit)="onSubmitAddItem()"
    #addItemForm="ngForm"
  >
    <mat-form-field appearance="standard">
      <mat-label>
        Name:
      </mat-label>
      <input matInput type="text" formControlName="itemName" required />
    </mat-form-field>
    <button mat-button type="submit" [disabled]="addItemForm.invalid">Submit</button>
  </form>
</div>
