<div>(fridge)</div>

<div *ngIf="error">error: {{ error }}</div>

<img [src]="imageUrl" (click)="open = !open" alt="fridge" />

<div *ngIf="!open || !fridgeItems">
  (fridge is closed)
</div>
<div *ngIf="open && fridgeItems">
  <div *ngIf="fridgeItems.length === 0">
    (fridge is empty)
  </div>
  <ul *ngIf="fridgeItems.length !== 0">
    <li *ngFor="let item of fridgeItems">
      {{ item.name }}
      <span *ngIf="true || user">
        <span *ngIf="item.ownerId === user?.id">(mine)</span>
        <span *ngIf="item.ownerId && item.ownerId !== user?.id">(not mine)</span>
        <button
          *ngIf="true || user?.admin || item.ownerId === user?.id"
          (click)="remove(item)"
        >
          Remove
        </button>
      </span>
    </li>
  </ul>
  <div *ngIf="!fridgeItems">
    (loading...)
  </div>
  <div *ngIf="true || user?.admin">
    <button (click)="cleanFridge()">Clean Fridge</button>
  </div>
  <form
    *ngIf="open && (true || user)"
    [formGroup]="addItem"
    (ngSubmit)="onSubmitAddItem()"
  >
    <label>
      Name:
      <input type="text" formControlName="itemName" />
    </label>
    <button type="submit">Submit</button>
  </form>
</div>
